<%
  payment_method =
    order.payments.map(&:payment_method).select do |pm|
      pm.is_a?(Spree::PaymentMethod::BollettinoPostale)
    end.first
%>

<% if payment_method.present? %>
  <p><%= Spree.t(:bollettino_postale_instructions) %></p>
  <p>
    <strong><%= Spree.t(:current_account_number) %>: </strong>
    <span><%= payment_method.preferred_current_account_number %></span>
    <br>
    <strong><%= Spree.t(:holder) %>: </strong>
    <span><%= payment_method.preferred_holder %></span>
    <br>
  </p>
<% end %>
